<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed action</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>
        Failed login
    </h1>

    <h3>
        Wrong username or password or non-existing user
    </h3>

    <form th:action="@{/user/sign_in}">
        <button class="add-button">
            Create user
        </button>
    </form>
    <form th:action="@{/user/library_login}">
        <button class="retry-button">
            Try again
        </button>
    </form>
</body>
</html>