<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>
        Home Page
    </h1>

    <button class="detail-user-button">
        <a class="detail-user" th:href="@{/user/detail}">
            My account
        </a>
    </button>

    <br>

    <h2>
        List of books
    </h2>

    <form th:action="@{/books/new_book}">
        <button class="add-button">
            Add new book
        </button>
    </form>

    <br>

    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Year of publish
            </th>
            <th>
                Price
            </th>
        </tr>
        <tr th:each="book : ${books}">
            <td class="book-id" th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.yearOfPublish}"></td>
            <td th:text="${book.price} + ' €'"></td>
            <td>
                <button class="detail-book-button">
                    <a class="detail-book" th:href="@{'/books/detail/' + ${book.id}}">
                        Book detail
                    </a>
                </button>
            </td>
            <td>
                <button class="delete-button">
                    <a class="delete-book" th:href="@{'/books/delete/' + ${book.id}}">
                        Delete book
                    </a>
                </button>
            </td>
        </tr>
    </table>

    <br>

    <form th:action="@{/json/all_books}">
        <button class="JenSON-button">
            Watch books in JSON format
        </button>
    </form>

    <br>

    <h3>
        Research section
    </h3>

    <br>

    <form th:action="@{/books/find_book}">
        <button class="search-button">
            Search a book
        </button>
    </form>
</body>
</html>