<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>My account</h1>

    <button class="logout-button">
        <a class="logout" th:href="@{/user/logout}">
            Log out
        </a>
    </button>

    <p th:text="'First name: ' + ${user.firstName}"></p>
    <p th:text="'Last name: ' + ${user.lastName}"></p>
    <p th:text="'Username: ' + ${user.username}"></p>
    <p th:text="'ID: ' + ${user.id}"></p>

    <button onclick="history.back()" class="back-button">
        Go back
    </button>
</body>
</html>